@import url('utilities/borders.css');
@import url('utilities/colors.css');
@import url('utilities/effects.css');
@import url('utilities/layout.css');
@import url('utilities/position.css');
@import url('utilities/sizing.css');
@import url('utilities/spacing.css');
@import url('utilities/text.css');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
}

#vibeCodeingProjects{
    background-color: white;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
#youtubeResourcesSection > .topics-container{
    margin-top: 2.5%;
}
#youtubeResourcesSection > .topics-container .project{
    flex-basis: 20%;
    height: 8vh;
    padding-top: 1%;
    padding-left: 1%;

}
.hide {
    display: none;
}