header {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#homeH1 {
    text-decoration: none;
}
main>.topic a {
    text-decoration: none;
}